<!DOCTYPE html>
<html lang="fr" data-ng-app="ServiceApp">

	<head>
		<title>Angular TDs</title>
		<meta http-equiv="content-type" content="text/html" charset="utf-8">
		<meta name="author" content="ObscureAngel">
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="app/serviceApp.js"></script>
		<script type="text/javascript" src="app/serviceController.js"></script>
	</head>
	
	<body>
		<article data-ng-controller="ServiceController as servCtrl">
			<div class="container">
				<h1>Services</h1>
				<a href="index.php">Retour</a>
				<div class="panel-body">
					<span>Choisissez les services &agrave; inclure</span>
					<br>
					<span>{{servCtrl.nbrServices}} services s&eacute;lectionn&eacute;(s)</span>
				</div>
				<div data-ng-repeat="prod in servCtrl.products" class="panel-body">
					<button data-ng-click="servCtrl.toggleActive(prod.number)" class="btn btn-default" data-ng-class="{'active' : prod.active}">
						<span>{{prod.name}}
						<em class="pull-right">{{prod.price | currency}}</em></span>
					</button>
				</div>
				<br><br>
				<span>Prix total de la prestation : {{servCtrl.prixTotal | currency}}</span>
				<input type="text" name="promo" id="promo" data-ng-model="servCtrl.inputPromo" data-ng-change="servCtrl.verifPromo()">
			</div>
		</article>
	</body>

</html>