<!DOCTYPE html>
<html lang="fr">

	<head>
		<title>Angular TDs</title>
		<meta http-equiv="content-type" content="text/html" charset="utf-8">
		<meta name="author" content="ObscureAngel">
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="css/style.css" />
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/angular-cookies.min.js"></script>
		<script type="text/javascript" src="app/serviceApp.js"></script>
		<script type="text/javascript" src="app/serviceController.js"></script>
	</head>
	
	<body data-ng-app="ServiceApp">
		<article>
			<a href="index.php">Retour</a>
			<div class="container" data-ng-controller="ServiceController as serviceCtrl">
				<h1>Services</h1>
				<div class="panel-body">
					<span>Choisissez les services &agrave; inclure</span>
					<br>
					<span>{{serviceCtrl.nbrServices}} services s&eacute;lectionn&eacute;(s)</span>
				</div>
				<div data-ng-repeat="service in serviceCtrl.services" style="width: 275px;">
					<div class="active" data-ng-click="serviceCtrl.toggleActive()">
						<p>{{service.name}}
						<em class="pull-right">{{service.price | currency}}</em></p>
					</div>
				</div>
			</div>
		</article>
	</body>

</html>